.train {
    height: 500px;
}

.slider-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    
    margin: 0 auto;
}

.slide {
    display: flex;
    transition: transform 400ms ease;
}

.slider-box {
    width: 85px;
    height: 85px;
    display: inline-flex;
    overflow: hidden;
    

    margin-bottom: 15px;
}

.slider-navigation {
    position: absolute;
    bottom: 0;
    display: block;

}
// Зависимость для смены картинок
#r1:checked ~ .slider-box .slide {
    transform: translateX(0);
}
#r2:checked ~ .slider-box .slide {
    transform: translateX(-33.33%);
}
#r3:checked ~ .slider-box .slide {
    transform: translateX(-66.66%);
}
// Зависимость для смены Городов
.text1, .text2, .text3 {
    display: none;
    margin: 0;
}
#r1:checked ~ .slider-box .text-location .text1 {
    display: block; 
}
#r2:checked ~ .slider-box .text-location .text2 {
    display: block;
}
#r3:checked ~ .slider-box .text-location .text3 {
    display: block;
}
// Зависимость для смены текста отзывов
.text-slider1, .text-slider2, .text-slider3 {
    display: none;
    min-height: 80px;

    padding-left: 54px;
    margin: 0;
    
    background-image:  repeating-linear-gradient(to bottom, #fff2 0px, #fff2 26px, #E1E1E1 26px, #E1E1E1 28px);
    

    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    
    letter-spacing: 0.04em;
}
#r1:checked ~ .text-container .text-slider1 {
    display: block; 
}
#r2:checked ~ .text-container .text-slider2 {
    display: block;
}
#r3:checked ~ .text-container .text-slider3 {
    display: block;
}
.text-location {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;

    font-weight: 500;
    font-size: 16px;
    line-height: 186%;

}
// Зависимость для смены переключателя
#r1:checked ~.slider-box .slider-navigation .bar1 {
    background-image: url("../images/contacts-train/home.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    transform: scale(1);
    
}
#r2:checked ~ .slider-box .slider-navigation .bar2 {
    background-image: url("../images/contacts-train/home.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    transform: scale(1);
    
}
#r3:checked ~.slider-box .slider-navigation .bar3 {
    background-image: url("../images/contacts-train/home.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    transform: scale(1);
    
}
.bar1, .bar2, .bar3 {
    
    display: inline-block;
    height: 16px;
    width: 16px;
    background-color: #D9D9D9;
    border-radius: 50%;
    
    transform: scale(0.8);
    
    
    cursor: pointer;
}
.bar1, .bar2 {
    margin-right: 10px;
}
// Псевдоелемент для текста
.text-slider1::before, .text-slider2::before,
.text-slider3::before {
    position: absolute;
    left: 0;
    top: 15px;
    left: 50px;
    content: "";
    display: block;
    width: 54px;
    height: 40px;
    background-image: url("../images/contacts-train/quote.png");
    
}
.text-container {
    position: relative;
    
    max-width: 928px;
    max-height: 370px;
        
    padding: 37px 50px;
    margin-bottom: 15px;

    background-color: #FAFAFA;
}

.point-container {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}
.point-container .point {
    margin: 5px;
    width: 4px;
    height: 4px;

    background-color: #C7133E;
    border-radius: 50%;
}
